<a href="https://colab.research.google.com/github/ch-abhiram/Week2_Python_CipherSchools/blob/main/class2_keywordsArgumentsAndAnonymousFunctions_CipherSchools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def hello():
    print("Hello World !")
a=1
a=hello
a()
hello=2
print(hello)
a()

Hello World !
2
Hello World !

In [ ]:
def hello():
    return 1
hello
hello()

1

In [ ]:
#required arguments
def func(a,b):
    print(a,b)
func(1,2)

1 2

In [ ]:
#default arguments
def func(a=1,b=2):
    print(a,b)
func()
func(1)
func(3,4)

In [ ]:
#optional positional only arguments
def func(a,b,*c):
    print(a)
    print(b)
    print(c)
func(1,2,3,4,"nishant")

1
2
(3, 4, 'nishant')

In [ ]:
#required keyworded only arguments
def func(a,b,*c,d):
    print(a)
    print(b)
    print(c)
    print(d)
func(1,2,3,4,5,6,7,d=8)

1
2
(3, 4, 5, 6, 7)
8

In [ ]:
#default keyworded only argument
def func(*c,d,e="abhiram"):
    print(c)
    print(d)
    print(e)
func(1,2,3,4,5,d="ABHIRAM")

(1, 2, 3, 4, 5)
ABHIRAM
abhiram

In [ ]:
#optional keyworded only arguments
def func(**k):
    print(k)
func(name="abhiram")

{'name': 'abhiram'}

In [ ]:
#anonymous or lambda functions
a=lambda a,b:a*b
a(3,2)

6