<a href="https://colab.research.google.com/github/ch-abhiram/Week2_Python_CipherSchools/blob/main/class6_Tuples_and_Dictionaries_CipherSchools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=(1,2,3,4)
type(a)

tuple

In [ ]:
def a(*args):
    print(type(args))
a(1,2,3,4)

<class 'tuple'>

In [ ]:
a,b=5,9
c=a,b
print(type(c))

<class 'tuple'>

In [ ]:
def func(a,b):
    s=a+b
    d=a-b
    return a,b
c=func(2,4)
type(c)

tuple

In [ ]:
a=1,2,3,4
type(a)

tuple

In [ ]:
a=(1,2,3,4)
print(list(a))

[1, 2, 3, 4]

In [ ]:
a={"name":"abhiram"}
a["name"]="abhiram"
print(a)

{'name': 'abhiram'}

In [ ]:
a={"name":"abhiram",
"marks":"humdred",
"town":"fzr"}
key="college"
if key in a:
    print(a[key])
else:
    print("key doesn't exist")

key doesn't exist

In [ ]:
a={"name":"abhiram",
"marks":"humdred",
"town":"fzr"}
key="college"
print(a.get(key))

None

In [ ]:
a={"name":"abhiram",
"marks":"humdred",
"town":"fzr"}
key="colleg"
print(a.get(key,"key doesn't exist"))

key doesn't exist

In [ ]:
a={"name":"abhiram",
"marks":"humdred",
"town":"fzr"}
for key,value in a.items():
    print(key,"--",value)

name -- abhiram
marks -- humdred
town -- fzr

In [ ]:
a={"name":"abhiram",
"marks":"humdred",
"town":"fzr"}
print("name" in a)

True

In [ ]:
a={"name":"abhiram",
"marks":"humdred",
"town":"fzr"}
for x in a:
    print(x)

name
marks
town